<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoGirls Tutorial</title>
</head>
<body>
<!--html:5[tab]-->
<h1>Post Detail</h1>
<!--lorem30[tab]-->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto, assumenda commodi corporis cum deleniti ducimus earum hic impedit in ipsa iste iure libero mollitia non odit, qui quis recusandae sapiente sunt unde vel vitae voluptate. Adipisci excepturi nulla reiciendis tenetur ut. Dolorem explicabo ipsa officia optio perferendis quae, quidem quod vero. Adipisci distinctio ea esse facere labore laboriosam laudantium quaerat quia tempore, veritatis voluptatem voluptatibus. Asperiores consequuntur dolore, enim exercitationem laboriosam molestias odit porro qui quo quod repellendus sed sequi sunt! Accusantium aperiam deleniti dolorem eligendi exercitationem id odit officiis quae quaerat quam, quas quasi, sunt voluptates. Suscipit, voluptate.</p>
</body>
</html>